<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>daily select</title>
    <link rel="stylesheet" type="text/css" href="/css/themes/metro-blue/easyui.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/demo.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.6.2.js"></script>
	<script type="text/javascript" src="/js/datagrid-detailview.js"></script>
	<script type="text/javascript" src="/js/datagrid-scrollview.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e) {
            $("#esc").click(function(){
                $("#dlg").hide();
            });
			$('#click').click(function(){
			
       		 });
			 $('#Table').datagrid({
                view: detailview,
                detailFormatter:function(index,row){
                    return '<div class="ddv" style="padding:5px 0"></div>';
                },
                onExpandRow: function(index,row){
                    var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
                    ddv.panel({
                        height:80,
                        border:false,
                        cache:false,
                        href:'datagrid21_getdetail.php?itemid='+row.itemid,
                        onLoad:function(){
                            $('#dg').datagrid('fixDetailRowHeight',index);
                        }
                    });
                    $('#dg').datagrid('fixDetailRowHeight',index);
                }
            });
        });
		
		 $('#tt').datagrid({
                detailFormatter: function(rowIndex, rowData){
                    return '<table><tr>' +
                            '<td style="border:0;padding-right:10px">' +
                            '<p>Name: ' + rowData.name + '</p>' +
                            '<p>Amount: ' + rowData.amount + '</p>' +
                            '</td>' +
                            '<td style="border:0">' +
                            '<p>Price: ' + rowData.price + '</p>' +
                            '<p>Cost: ' + rowData.cost + '</p>' +
                            '</td>' +
                            '</tr></table>';
                }
            });
        function loadLocal(){
            var rows = [];
            for(var i=1; i<=8000; i++){
                var amount = Math.floor(Math.random()*1000);
                var price = Math.floor(Math.random()*1000);
                rows.push({
                    inv: 'Inv No '+i,
                    date: $.fn.datebox.defaults.formatter(new Date()),
                    name: 'Name '+i,
                    amount: amount,
                    price: price,
                    cost: amount*price,
                    note: 'Note '+i
                });
            }
            $('#tt').datagrid('loadData', rows);
        }
        function load(mode){
            if (mode == 'local'){
                loadLocal();
            } else {
                $('#tt').datagrid({
                    url:'/getloginfo',
                });
            }
        }
		 
    </script>
</head>
<body>

<div id="p" class="easyui-panel" title="系统操作日志" style="width:900px;height:auto;padding:10px;">
    <div class="easyui-tabs" style="width:880px;height:90px">
        <div title="日志查询" style="padding:10px">
           	<div>按日期查询：<input id="date1" class="easyui-datebox textbox" name="title">至：<input id="date2" class="easyui-datebox textbox" name="title2">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="click">数据查询</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="esc">退出</a>
					<select style="width:200px;" id="key">
						<option>info</option>
						<option>err</option>
						<option>warn</option>
					</select>
                <div style="margin:20px 0"></div>
            </div>
        </div>
        <div title="日志设置" style="padding:10px">
            <ul class="easyui-tree" data-options="method:'get',animate:true"></ul>
        </div>
    </div>
</div>

		 <table id="Table" class="easyui-datagrid" title="日志列表" style="width:900px;height:800px"
					data-options="singleSelect:true,collapsible:true,url:'/getloginfo',method:'post'">
				<thead>
					<tr>
						<th data-options="field:'time',width:300,align:'center'">时间</th>
						<th data-options="field:'leve',width:100">等级</th>
						<th data-options="field:'info',width:500,align:'left'">内容</th>
					</tr>
				</thead>
		</table>
<div class="easyui-panel" style="width:900px;">
    <div class="easyui-pagination" data-options="total:20" ></div>
</div>
</body>
</html>