<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <link rel="stylesheet" type="text/css" href="css/jquery.mobile.flatui.css" />

<script type="text/javascript" src="/js/flat-ui.min.js"></script>
  <script type="text/javascript" src="/js/jquery-1.6.4.js"></script>
  <script type="text/javascript" src="/js/phonegap-1.0.0.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.mobile-1.4.0-rc.1.js"></script>
  <script type="text/javascript" src="/lib/mb.js"></script>
</head>
<body>

<div data-role="page" data-theme = "f">
	<div data-role="header" data-position = "fixed">
    	<h6></h6>
    </div>
    
	<div role="main" class="ui-content">
	
	
	
<!-- /navbar -->
    </div>
    
	<div data-role="footer" data-position = "fixed">
    	<div data-role="navbar">
            <ul>
            	<li><a href="#" data-icon="comment"  class="ui-btn-active" onClick="goMsgPage()">消息</a></li>
                <li><a href="#" data-icon="comment"  onClick="goAddressPage()">通讯录</a></li>
                <li><a href="#" data-icon="comment"  onClick="goAppPage()">应用</a></li>
                <li><a href="#" data-icon="comment"  onClick="goSetupPage()">设置</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>