<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <link rel="stylesheet" type="text/css" href="css/jquery.mobile.flatui.css" />

<script type="text/javascript" src="/js/flat-ui.min.js"></script>
  <script type="text/javascript" src="/js/jquery-1.6.4.js"></script>
  <script type="text/javascript" src="/js/phonegap-1.0.0.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.mobile-1.0.min.js"></script>
  <script type="text/javascript" src="/js/jquery.mobile-1.4.0-rc.1.js"></script>
  <script type="text/javascript" src="/lib/mb.js"></script>
<script type="text/javascript">

function upPassword(){
		var oldpassword = $('#oldpass').val();
		var newpassword = $('#pass').val();	
	
		$.ajax({
			type:"POST",
			url: "/upprivatepw?oldpassword = " + oldpassword + '&newpassword' + newpassword,
			success: function(data){
				$('#upresult').append(data.Msg);		
			}
		});	
}


$(document).on("pageinit","#person",function(){

	$.ajax({
			type:"POST",
			url: "/getprivatedetail",
			success: function(data){
				$('#fullname').val(data.name);
				for(var i = 0; i < data.depart.length; i++){
					  $('.dept').append("<th> <input type='text' name='dept' readonly='readonly' value='"+data.depart[i].text+"'></th>");	
				}
				$('.email').val(data.email);
				for(var i = 0; i < data.phone.length; i++){
					$('.call').append("<input type = 'text' class='phone' readonly='readonly' value='"+data.phone[i].number+"'>");
				}
				
			}});
});
</script>


</head>
<body>

<div data-role="page" data-theme = "f">
	<div data-role="header" data-position = "fixed">
    	<h6></h6>
        <a href="#" data-role="button" data-icon="arrow-l" data-rel="back">设置</a>
    </div>
    
<div data-role = "content">
<div data-role="fieldcontain" data-theme="d">
<fieldset  data-role="controlgroup">
<ul data-role="listview" data-inset="true" data-theme="c">
<li><a href="#person" data-transition="pop">个人信息</a></li>
<li><a href="#">通用</a></li>
<li><a href="#">勿扰模式</a></li>
<li><a href="#account" data-transition="pop">账号与安全</a></li>
<li data-role="list-divider"></li>
<li data-role="list-divider"></li>
<li><a href="#">关于AO</a></li>
<li><a href="#">退出</a></li>
</ul>
</fieldset>
</div>

	</div>

    
	<div data-role="footer" data-position = "fixed">
    	<div data-role="navbar">
            <ul>
            	<li><a href="#" data-icon="comment"  onClick="goMsgPage()">消息</a></li>
                <li><a href="#" data-icon="comment"  onClick="goAddressPage()">通讯录</a></li>
                <li><a href="#" data-icon="comment"  onClick="goAppPage()">应用</a></li>
                <li><a href="#" data-icon="comment"  class="ui-btn-active" onClick="goSetupPage()">设置</a></li>
            </ul>
        </div>
    </div>
</div>

<!--个人信息-->
<div data-role="page" id="person" >
<div data-role="header" >
    	<h6>个人信息</h6>
        <a href="#" data-role="button" data-icon="arrow-l" data-rel="back" >返回</a>
    </div>
    
<div data-role = "content">
	 <form method="post" action="/update">
       
         
 	 <div data-role="fieldcontain">
	 <ul data-role = "listview" data-inset="true">
	 <li data-role="list-divider" >基本信息</li>
	 <li>
     <div class="ui-grid-a" style="width:100%">
     
     <div class="ui-block-a" style="width:40%">
     姓名：
	  <input type='text' name='fullname' id='fullname' readonly >
      </div>
      <div class="ui-block-b" style="width:60%" >  
     头像：
      <input type="file" >
       <p>支持jpg、jpeg、gif、png格式的图片，不超过2M</p>
      
        </div>
        
        </div>
        
	 </li>
	 <li>部门：
	 <div data-role="fieldcontain">
<!--         <select name="department" id="department" data-native-menu="false" data-theme="f" class="dept"> -->
<!--         </select> -->
<table>
<tr class="dept">

</tr>
</table>
     
      </div>
	 </li>
        	<li data-role="list-divider">联系方式</li>
        	<li class="call">电话：</li>
        	<li>邮箱：<input type = "email" class="email" readonly></li>
     
      <li data-role="list-divider">留言</li> 
      <li><textarea name="addinfo" id="info"></textarea></li>
      </ul>
     </div>  
	 </form>
     </div>
</div>

<!-- 账号与安全 -->

<div data-role="page" id="account">
<div data-role="header">
<h6>账号与安全</h6>
<a href="#" data-role="button" data-icon="arrow-l" data-rel="back">返回</a>
</div>

<div data-role="content">
<form>
<div data-role="fieldcontain">
<label for="oldpass">原始密码:</label>
<input type="password" id="oldpass">
<label for="pass">新密码:</label>
<input type="password" name="pass" id="pass">
<label for="rpass">确认密码:</label>
<input type="password" name="rpass" id="repass">
</div>
<a href="#" data-role="button" onClick="upPassword()">升级</a>
</form>
<div id = 'upresult'></div>

</div>



</div>



</body>
</html>